body {
    background: #e0e0c5;
    font: 16px Arial, Helvetica, sans-serif;
}

 #principal {
    /*width: 730px;*/
    margin-left: 100px;
} 

#menu {   
    padding: 18px;
    text-align: center;
}

#conteudo {
    background: #d3cac4;
    padding: 10px;
}

#rodape {
    text-align: center;
}

a {
    color: #1c082e;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

h1 {
    color: #324885;
}