body {
  font-family: Helvetica, Arial, sans-serif;
  background: #f8f8f1;
}


/*Inicio formatação do cabeçalho*/

header>nav {
  background-color: #8b68059c;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
}

a {
  color: #490419;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
}

a:hover {
  color: #9e113e;
}

/*Formatações gerais*/

h1 {
  color: #490419;
  font-size: 5em;
  text-align: center;
}

h2 {
  color: #9e113e;
  font-size: 2em;
}

main.home {
  margin-left: 100px;
  padding: 18px;
}

footer {
  clear: both;
  text-align: center;
  font-size: 0.8em;
}

.tabela-estilizada {
  border-collapse: separate;
  width: 100%;
}

.tabela-estilizada th,
td {
  padding: 5px;
  border: 1px solid #9e113e;
}

.tabela-estilizada th {
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.1em;
  background-color: rgb(234, 235, 230);
}

tr:hover {
  background-color: #e9d0e3;
}